@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  src: url('/fonts/NotoSansKR-VariableFont_wght.ttf')
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  src: url('/fonts/RobotoMono-VariableFont_wght.ttf')
}

:root {
  --shiki-color-text: #0071bc !important;
}

code {
  font-family: 'Roboto Mono', monospace  !important;
}

article table {
  font-size: 0.9rem;
}

article code {
  font-size: 0.9rem !important;
}

nav:empty.nx-hidden {
  display: none;
}

.nextra-sidebar-container a {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 0.8rem;
  align-items: center;
}

.nextra-sidebar-container li div.nx-pt-1 {
  padding-top: 0.1rem;
}

.nextra-content h2 {
  color: rgb(0, 90, 163);
  font-size: 1.4rem;
  margin-top: 2rem;
  border: none;
}

.nextra-content h3 {
  font-size: 1rem;
  font-weight: 700;
  padding-top: 1rem;
  margin-top: 1rem;
  /* border-bottom: 1px; */
  border-top: 1px;
  /* border-color: hsl(var(--nextra-primary-hue)100% 94%/.1); */
  border-color: rgba(229,229,229,.7);
  border-style: solid;
}

.nextra-content h4 {
  font-size: 0.9rem;
}

.nextra-content li h4 {
  margin-top: 0;
}

.nextra-content h5 {
  font-size: 0.8rem;
}

:is(html[class~=dark] .nextra-content h3) {
  border-color: hsl(var(--nextra-primary-hue)100% 94%/.1);
}

.nextra-content p {
  font-size: 0.9rem;
  margin-top: 1.5rem;
}

:is(html[class~=dark]) .nextra-content h2 {
  color: hsl(var(--nextra-primary-hue)100% 45%/var(--tw-text-opacity));
}

img {
    margin: 16px 10px;
}

img.sidebar {
  margin: 0px 2px 0px 0px;
  padding: 2px;
  width: 25px;
}

.border-img {
    border: 1px solid #0088ff20;
}