
dist/deploy/**
dist/.npm/**
!dist/.npm/package.json

dist/.npmdebug/**
!dist/.npmdebug/package.json

out/**/**
node_modules/**/**
.vscode/**
!.vscode/launch.json
package-lock.json
yarn.lock
yarn-lock.json
.DS_Store
temp
etc
web/realchart/docs/
web/realchart/lib/realchart*.*
!web/realchart/lib/realchart-lic.js
/test-results/
/e2e/src/js/**
/e2e/src/styles/**

www