@charset "UTF-8";

.rct-root {
    font-family: var(--rct-font-family);
    font-size: var(--rct-font-size);
    color: #000;
    background-color: white;
    /* word-break: break-all;
    word-wrap: break-word; */
    -webkit-touch-callout: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    touch-action: auto;
    -ms-touch-action: auto; 
    text-align: initial;
}   

.rct-root {
    --rct-font-family: AppleSDGothicNeo-Light, 'HelveticaNeue', 'Malgun Gothic', '맑은 고딕', sans-serif;
    --rct-font-size: 16px;
    --rct-checkbox-size: 16px;
    --rct-check-size: 20px;
    --rct-switch-size-def: 24px;
    --rct-switch-on-def: 16.8px; /* 0.7 */
    --rct-switch-color-def: skyblue;
    --rct-hide-webkit-tap-highlight: transparent;
    /** rowgroup classic */
    --rct-rowgroup-classic-color: #e8e8e8;
    /** datagroup classic */
    --rct-datagroup-classic-color: #e8e8e8;
    --rct-row-border-line: 1px solid #ddd;
    --rct-master-border-line: 1px solid #ddd;
    --rct-table-cell-border-color: #d0d0d0;
    --rct-rowbar-check-checked-color: rgb(56, 128, 255);
    --rct-rowbar-check-disabled-color: #00000015;
    --rct-readonly-background: #eee;
    --rct-readonly-color: #333;
    --rct-flip-perspective: 1000px;
    --rct-flip-duration: 0.6s;
    --rct-flip-y: -180deg;
    --rct-flip-x: 0;
}

.rtc-control {
    padding: 20px;
}

.rct-title {
    font-size: 20px;
}

.rct-subtitle {
    font-size: 16px;
}

.rct-legend {
    fill: transparent;
}
.rct-legend-item {
    fill: #333;
}

.rct-axis-line {
    stroke: red;
    stroke-width: 1px;
}

/** bar series */
.rct-series-bar {
    fill: #00aaff;
}

/** line series */
.rct-line-series-line {
    fill: none;
    stroke: gray;
}

/** area series */
.rct-area-series-area {
    fill: #0088ff40;
}

/** bubble series */
.rct-bubble-series-marker {
    fill: #0088ff40;
    stroke: #0088ff;
}